<link type="text/css" rel="stylesheet" href="/style.css"/>
<link type="text/css" rel="stylesheet" href="/landings.css"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<head>
    <title>Littleworker</title>
</head>
<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap" rel="stylesheet">
<script type="text/javascript">

    (function() { var css = document.createElement('link'); css.href = 'https://use.fontawesome.com/releases/v5.1.0/css/all.css'; css.rel = 'stylesheet'; css.type = 'text/css'; document.getElementsByTagName('head')[0].appendChild(css); })(); </script>

<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light ">
    <img onmouseover="hideCollapsedMenu()" class="logo" src="/images/logo.png" alt="LittleWorker">
    <%if (!isMobile) { %>
    <div class="desktop-nav">
        <ul class="desktop-nav-list">
            <li onmouseover="showCollapsedMenu('collapsed-menu-realisations')"><a href="#" class="current">Nos réalisations</a> </li>
            <li onmouseover="showCollapsedMenu('collapsed-menu-architecte')"><a href="#">Architecture d’intérieur</a> </li>
            <li onmouseover="showCollapsedMenu('collapsed-menu-works')"><a href="#">Travaux de rénovation</a> </li>
            <li onmouseover="showCollapsedMenu('collapsed-menu-guides')"><a href="#">Les guides</a> </li>
            <li onmouseover="showCollapsedMenu('collapsed-menu-about')"><a href="#">À propos</a> </li>
            <li onmouseover="hideCollapsedMenu()"><a href="https://www.littleworker.fr/espacepro/">Espace Pro</a> </li>
        </ul>
            <div onmouseleave="hideCollapsedMenu()" id="collapsed-menu-realisations" class="collapsed-menu" >
                <div  class="collapsed-menu-content" >
                    <div class="content-row" >
                        <a  class="title" href="#">eaéaeeé</a>
                        <div  class="links">
                            <a href="#">sqde</a>
                            <a href="#">dzqdqz</a>
                            <a href="#">dzqdqz</a>
                            <a href="#">dzqdqz</a>
                        </div>
                    </div>
                    <div class="content-row" >
                        <a  class="title" href="#">eaéaeeé</a>
                        <div  class="links">
                            <a href="#">dzqdqz</a>
                            <a href="#">dzqdqz</a>
                            <a href="#">dzqdqz</a>
                            <a href="#">dzqdqz</a>
                        </div>
                    </div>
                    <div class="content-row" >
                        <a  class="title" href="#">eaéaeeé</a>
                        <div  class="links">
                            <a href="#">dzqdqz</a>
                            <a href="#">dzqdqz</a>
                            <a href="#">dzqdqz</a>
                            <a href="#">dzqdqz</a>
                        </div>
                    </div>
                    <div class="collapsed-menu-right-image">
                        <img src="/images/backgrounds/home-page-mobile.png" alt="Tendances 2019">
                        <p>Tendances 2019</p>
                    </div>
                </div>
            </div>
        <div onmouseleave="hideCollapsedMenu()" id="collapsed-menu-architecte" class="collapsed-menu" >
            <div  class="collapsed-menu-content" >
                <div class="content-row">
                    colapsed-menu 2
                </div>
            </div>
        </div>
        <div onmouseleave="hideCollapsedMenu()" id="collapsed-menu-works" class="collapsed-menu" >
            <div  class="collapsed-menu-content" >
                <div class="content-row">
                    colapsed-menu 3
                </div>
            </div>
        </div>
        <div onmouseleave="hideCollapsedMenu()" id="collapsed-menu-guides" class="collapsed-menu" >
            <div  class="collapsed-menu-content" >
                <div class="content-row">
                    colapsed-menu 4
                </div>
            </div>
        </div>
        <div onmouseleave="hideCollapsedMenu()" id="collapsed-menu-about" class="collapsed-menu" >
            <div  class="collapsed-menu-content" >
                <div class="content-row">
                    colapsed-menu 4
                </div>
            </div>
        </div>
    </div>
    <%}%>

    <div class="right-btn">
        <button>
            <img src="/images/icons/map-marker.png">
        </button>

        <button class="user-btn">
            <a href="https://auth.littleworker.fr/"><img src="/images/icons/user.png"></a>
        </button>
        <%if (isMobile) { %>
        <button type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation" >
            <img src="/images/icons/menu.png" >
            <!--<img *ngIf="isMenuOpen" src="../../assets/images/icons/croix.svg" >-->

        </button>
        <%}%>
        <%if (!isMobile) { %>
        <button class="item-estimation-btn" >
            Estimer mon projet
        </button>
        <%}%>
    </div>
</nav>

<script>
    function showCollapsedMenu(menucollapsed) {
        let collapsedMenus = document.getElementsByClassName('collapsed-menu')
        for (let item of collapsedMenus) {
            if(item.classList.contains('show')) {
                item.classList.remove('show')
            }
        }
        const menu = document.getElementById(menucollapsed);
        menu.classList.add('show');

    }

    function hideCollapsedMenu() {
        let collapsedMenus = document.getElementsByClassName('collapsed-menu')
        for (let item of collapsedMenus) {
            if(item.classList.contains('show')) {
                item.classList.remove('show')
            }
        }
    }
</script>
