
/*INITS*/
body, button {
    font-family: "Lato", "Arial" !important;
    margin: unset;
}
a{
    text-decoration: blink!important;
}
.body{
    padding-top: 72px;
    background-color: #f8f8f8;
}

.show{
    display: block!important;
}
.hide{
    display: none!important;
}

.current{
    border-bottom: 3px solid #2D8B95;
    padding-bottom: unset!important;
}

.gold-star-large, .gold-star{
    color: #f2a500;
}

.gold-star{
    font-size: 30px;
    font-weight: 900;
    margin-right: 10px;
}

.display-item-hover{
    display: flex!important;
}

.display-bold h2, .display-bold p, .display-bold{
    font-weight: 900!important;
}

.display-tag-selected{
    border: 3px solid #2D8B95!important;
    color: #2D8B95!important;
}

/*NAVBAR*/
.right-btn button{
    background: unset;
    border: unset;
    cursor: pointer;

}
@media screen and (min-width: 800px){
    .user-btn{
        margin-right: 10px;

    }
}
.right-btn button img{
    height: 24px;
    margin: 0 5px;
    width: auto;
}
.item-estimation-btn {
    cursor: pointer;
    background-color: #2D8B95!important;
    color: #ffffff;
    padding: 25px 35px;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.45px;
    line-height: 22px;
    text-shadow: 0 2px 17px 0 rgba(0,0,0,0.09);
}

.navbar {
    display: flex;
    position: fixed;
    width: 100%;
    z-index: 1000;
    align-items: flex-start;
    background-color: #ffffff !important;
    padding: 16px 0;
    justify-content: space-between;
}
@media screen and (min-width: 800px){
    .navbar{
    padding: unset;
    align-items: center;
    }
}

.logo {
    width: 180px;
    padding-left: 10px;
    cursor: pointer;
}
@media screen and (min-width: 1350px){
    .logo {
        margin-left: 75px !important;
    }
}
@media screen and (min-width: 800px){
    .logo {
        margin-left: 20px;
    }
}


.desktop-nav {
    height: 70px;
}
.desktop-nav-list {
    height: 100%;
    margin: unset;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    padding: unset;
}
.desktop-nav-list li:last-child{
    font-weight: 900!important;
}
.desktop-nav-list li {
    height: 100%;
    display: flex;
    align-items: center;
    margin: unset;
    padding: 0 12px;
    min-width: 100px;
    font-size: 14px;
    line-height: 17px;
    font-weight: 600;
    cursor: pointer;
    transition: all ease 1s;
    justify-content: center;
}
.desktop-nav-list li:hover{
    background-color: #F1F2F2;
}
.desktop-nav-list a{
    color: black;
    text-decoration: unset;
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 3px;
}

.collapsed-menu {
    display: none;
    min-height: 250px;
    background-color: #fff;
    width: 100%;
    position: absolute;
    left: 0;
}
.collapsed-menu .collapsed-menu-content {
    display: flex;
    justify-content: center;
    padding-top: 40px;
}
.collapsed-menu .collapsed-menu-content .content-row {
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    border-right: lightgrey solid 1px;
    max-width: 250px;
}
.collapsed-menu .collapsed-menu-content .content-row .title {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.2px;
    line-height: 17px;
    height: 60px;
    margin-bottom: unset;
    text-decoration: unset;
}
.collapsed-menu .collapsed-menu-content .content-row .title :hover {
    text-decoration: unset;
}
.collapsed-menu .collapsed-menu-content .content-row .links {
    display: flex;
}
.collapsed-menu .collapsed-menu-content .content-row a {
    margin-bottom: 10px;
    font-size: 13px;
    line-height: 18px;
    text-align: left;
    color: #262626;
    text-decoration: unset;
}
.collapsed-menu .collapsed-menu-content .content-row a :link {
    text-decoration: unset;
}
.collapsed-menu .collapsed-menu-content .content-row a :hover {
    text-decoration: unset;
}
.collapsed-menu .collapsed-menu-content .collapsed-menu-right-image {
    position: relative;
    text-align: center;
    padding-right: 1%;
}
.collapsed-menu .collapsed-menu-content .collapsed-menu-right-image img {
    height: 191px;
    width: 144px;
}
.collapsed-menu .collapsed-menu-content .collapsed-menu-right-image p {
    position: absolute;
    top: 50%;
    left: 47%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-transform: uppercase;
    font-weight: 900;
}


/*HEADER*/
.breadcrumb{
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
    padding-top: 80px;
    color: rgba(0,0,0,0.58);
    font-size: 14px;
    font-weight: bold;
    line-height: 17px;
}
.custom-header-container{
    display: flex;
    justify-content: flex-end;
    padding-left: 140px;
    align-items: center;
    padding: 35px 0;
}

.custom-header-container .header-titles{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 5%;
}

.custom-header-container .header-titles .header-title{
    font-size: 60px;
    margin: 0 0 45px 0;
    line-height: 75px;
    font-weight: 900;
}

.custom-header-container .header-titles .header-btn {
    height: 62.25px;
    width: 360px;
    border-radius: 2.2px;
    background-color: #2D8B95;
    box-shadow: 0 20px 25px -17px rgba(10,105,112,0.36);
    cursor: pointer;
    transition: all ease 0.3s;
    display: flex;
    color: #ffffff;
    justify-content: center;
    align-self: center;
    line-height: 27px;
    letter-spacing: 0.55px;
    font-weight: 700;
    font-size: 22px;
}

.custom-header-container .header-titles .header-btn:hover {
    box-shadow: 0 20px 25px 3px rgba(10,105,112,0.36);
}

.custom-header-container .header-titles .header-htag {
    color: #000000;
    font-size: 25px;
    font-weight: 300;
    line-height: 75px;
    /* text-shadow: 0 2px 20px rgba(0,0,0,0.5); */
}

.custom-header-container .header-img{
    height: auto;
    width: 55%;
    overflow: hidden;
}
.custom-header-container .header-img img{
    width: 100%;
    height: 362px;
    object-fit: cover;
}


/*items*/
.body-container{
    /* width: 80%; */
    display: flex;
    justify-content: center;
    padding: 0 10%;
    background-color: white;
}

.body-container .body-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.body-container .body-content .body-tags{
    display: flex;
    justify-content: space-between;
    padding: 60px 0;
}
.body-container .body-content .body-tags .tags-btn{
    border: 3px solid black;
    font-size: 22.44px;
    line-height: 27px;
    letter-spacing: 0.56px;
    height: 60px;
    cursor: pointer;
    width: 200px;
    margin: 0 10px;
    transition: all 0.3s ease;
    outline: none !important;
    font-weight: 600;
    padding: unset;
}
.body-container .body-content .body-tags .tags-btn:hover{
    border: 3px solid #2D8B95;
    color: #2D8B95;
}


.items-container{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.items-container .items-content{
    width: 350px;
    height: auto;
    flex-direction: column;
    display: flex;
    padding-bottom: 70px;
}
.items-container .items-content .item-title{
    font-size: 23px;
    text-transform: uppercase;
    font-weight: 300;
    margin: 30px 0 0 0;
    transition: all ease 0.3s;
}

.items-container .items-content .item-city{
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 300;
    transition: all ease 0.3s;
    margin: unset;
}

.items-container .items-content .item-img{
    width: auto;
    height: 350px;
    object-fit: cover;
    cursor: pointer;
    transition: all 0.3s ease;
}

.items-container .items-content .item-hover-content{
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 350px;
    flex-direction: column;
    background-color: rgba(0,0,0,0.2);
    opacity: 0;
    display: none;
    transition: all 0.3s ease;
    cursor: pointer;
}
.items-container .items-content .item-hover-content:hover{
    opacity: 1;
}
.items-container .items-content .item-hover-content .item-hover-content-title{
    font-weight: 900;
    color: white;
    font-size: 20px;
    padding: 10px 0;
    align-self: flex-start;
    margin-left: 20%;
    text-shadow: 0 2px 10px rgba(0,0,0,0.7);
}
.items-container .items-content .item-hover-content .item-hover-content-value{
    font-weight: 400;
}
 .items-container .items-content .item-hover-content .item-hover-content-btn{
     color: #ffffff;
     border: 3px solid #FFFFFF;
     background-color: transparent;
     height: 53.16px;
     width: 220px;
     font-size: 20px;
     margin-top: 50px;
     cursor: pointer;
 }
.items-container .items-content .item-hover-content .item-hover-content-btn a{
    color: #ffffff;
    text-decoration: blink;
}
.items-container .items-content .item-hover-content .item-hover-content-btn i{
    margin-left: 10px;
    padding-top: 0px;
}

/*ITEM CONTAINER*/

.item-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.item-container .item-header {
    display: flex;
    padding: 100px 0;
    width: 80%;
    justify-content: center;
    align-items: center;
}
.item-container .item-header .item-introduction {
    padding: 0 80px;
    border-right: 3px solid #2D8B95;
    width: 50%;
    height: 250px;
}
.item-container .item-header .item-introduction .introduction-title {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 24px;
}
.item-container .item-header .item-introduction .introduction-text {
    text-align: justify;
    font-size: 20px;
}
.item-container .item-header .item-identity {
    display: block;
    padding-left: 80px;
    width: 50%;
    height: 250px;
}
.item-container .item-header .item-identity .identity-list-title {
    font-weight: 900;
    font-size: 24px;
    text-transform: uppercase;
}
.item-container .item-header .item-identity .identity-list {
    padding: unset;
    list-style-type: none;
    font-size: 20px;
}
.item-container .item-header .item-identity .identity-list .identity-list-item {
    padding: 5px 0;
}
.item-container .item-content {
    width: 80%;
}
.item-container .item-content .item-primary-images, .item-container .item-content .item-secondary-images {
    display: flex;
    justify-content: space-between;
}
.item-container .item-content .item-secondary-images {
    padding-bottom: 115px;
}
.item-container .item-content .item-primary-images img, .item-container .item-content .item-secondary-images img {
    width: 500px;
    height: 684px;
    object-fit: cover;
}
.item-container .item-content .item-paragraph {
    padding: 100px 10px 35px 10px;
}
.item-container .item-content .item-paragraph .paragraph-title {
    font-size: 24px;
    font-weight: 900;
    text-transform: uppercase;
}
.item-container .item-content .item-paragraph .paragraph-text {
    font-size: 24px;
}
.item-container .item-content .item-main-image {
    width: 100%;
    height: 684px;
    overflow: hidden;
    margin: 65px 0;
}
.item-container .item-content .item-main-image img {
    object-fit: cover;
    height: 684px;
    width: 100%;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
    position: relative;
    margin: unset;
    padding-bottom: 140px;
}

/* Hide the images by default */
.mySlides {
    display: flexone;
}
.mySlides img {
    width: 350px;
    height: 350px;
    object-fit: cover;
    padding: 10px;
    flex-wrap: wrap;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 43%;
    width: auto;
    color: black;
    font-weight: bold;
    font-size: 48px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}



/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}



/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    /* display: flex!important; */
    /* justify-content: space-between; */
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

.slideshow-title{
    text-transform: uppercase;
    text-align: center;
    font-size: 24px;
    font-weight: 900;
    line-height: 28px;
    padding-bottom: 80px;
}

.more-projects-container{
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
}

.more-projects-title{
    text-align: center;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 900;
    line-height: 28px;
    padding-bottom: 80px;
}

/*FOOTER*/

.footer-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #2D8B95;
    color: white;
    padding: 5% 10% 3% 10%;
}

.footer-header{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.footer-header-logo{
    height: 44.65px;
    width: auto;
}
.footer-header-socials{
    display: flex;
}

.footer-header-socials img{
    width: 30px;
    height: 30px;
    padding: 0 10px;
    /* color: white; */
}
.footer-content{
    display: flex;
    width: 100%;
    padding: 30px 0;
    justify-content: space-between;
}

.footer-content-column{
    color: #ffffff;
}
.footer-content-centered-column{
    border-left: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
    padding: 0 5%;
}

.footer-content-column-title{
    text-transform: uppercase;
    margin-top: unset;
}
.footer-content-column-sectitle{
    padding-top: 15px;
}

.footer-content-column-links{
    margin-top: 20px;
    padding: unset;
    list-style: unset;
}

.footer-content-column-links ul{
     text-transform: capitalize;
 }

.footer-content-column-links li{
    text-transform: capitalize;
    display: block;
}

.footer-content-column-links a {
    font-size: 16px;
    color: white;
    text-decoration: blink;
    cursor: pointer;
    line-height: 25px;
}

.footer-contact{
    align-items: center;
    display: flex;
    padding: 30px 0;
}
.footer-contact-mail{
    font-weight: 600;
    font-size: 20px;
    margin-left: 60px;
}
.footer-contact-phone{
    font-weight: 600;
    font-size: 20px;
}

.footer-contact-phone span, .footer-contact-mail span{
    margin-left: 15px;
}

.footer-copyright{
    font-weight: 300;
    text-transform: uppercase;
    font-size: 18px;
}
