
/*INITS*/
body, button {
    font-family: "Lato", "Arial" !important;
    margin: unset;
}
a{
    text-decoration: blink!important;
    color: inherit;
}
.body{
    padding-top: 72px;
    /* background-color: #fff; */
}
.section-title{
    width: 300px;
    font-size: 30px;
    line-height: 36px;
    font-weight: 900;
    text-align: center;
    margin: auto;
}
.show{
    display: block!important;
}
.hide{
    display: none!important;
}

.current{
    border-bottom: 3px solid #2D8B95;
    padding-bottom: unset!important;
}

.gold-star-large, .gold-star{
    color: #f2a500;
}

.gold-star{
    font-size: 30px;
    font-weight: 900;
    margin-right: 10px;
}

.display-item-hover{
    display: flex!important;
}

.display-bold h2, .display-bold p, .display-bold{
    font-weight: 900!important;
}

.display-tag-selected{
    border: 3px solid #2D8B95!important;
    color: #2D8B95!important;
}

/*NAVBAR*/
.right-btn button{
    background: unset;
    border: unset;
    cursor: pointer;

}
@media screen and (min-width: 800px){
    .user-btn{
        margin-right: 10px;

    }
}
.right-btn button img{
    height: 24px;
    margin: 0 5px;
    width: auto;
}
.item-estimation-btn {
    cursor: pointer;
    background-color: #2D8B95!important;
    color: #ffffff;
    padding: 25px 35px;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.45px;
    line-height: 22px;
    text-shadow: 0 2px 17px 0 rgba(0,0,0,0.09);
}

.navbar {
    display: flex;
    position: fixed;
    width: 100%;
    z-index: 1000;
    align-items: flex-start;
    background-color: #ffffff !important;
    padding: 16px 0;
    justify-content: space-between;
}
@media screen and (min-width: 800px){
    .navbar{
    padding: unset;
    align-items: center;
    }
}

.logo {
    width: 180px;
    padding-left: 10px;
    cursor: pointer;
}
@media screen and (min-width: 1350px){
    .logo {
        margin-left: 75px !important;
    }
}
@media screen and (min-width: 800px){
    .logo {
        margin-left: 20px;
    }
}


.desktop-nav {
    height: 70px;
}
.desktop-nav-list {
    height: 100%;
    margin: unset;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    padding: unset;
}
.desktop-nav-list li:last-child{
    font-weight: 900!important;
}
.desktop-nav-list li {
    height: 100%;
    display: flex;
    align-items: center;
    margin: unset;
    padding: 0 12px;
    min-width: 100px;
    font-size: 14px;
    line-height: 17px;
    font-weight: 600;
    cursor: pointer;
    transition: all ease 1s;
    justify-content: center;
}
.desktop-nav-list li:hover{
    background-color: #F1F2F2;
}
.desktop-nav-list a{
    color: black;
    text-decoration: unset;
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 3px;
}

.collapsed-menu {
    display: none;
    min-height: 250px;
    background-color: #fff;
    width: 100%;
    position: absolute;
    left: 0;
}
.collapsed-menu .collapsed-menu-content {
    display: flex;
    justify-content: center;
    padding-top: 40px;
}
.collapsed-menu .collapsed-menu-content .content-row {
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    border-right: lightgrey solid 1px;
    max-width: 250px;
}
.collapsed-menu .collapsed-menu-content .content-row .title {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.2px;
    line-height: 17px;
    height: 60px;
    margin-bottom: unset;
    text-decoration: unset;
}
.collapsed-menu .collapsed-menu-content .content-row .title :hover {
    text-decoration: unset;
}
.collapsed-menu .collapsed-menu-content .content-row .links {
    display: flex;
}
.collapsed-menu .collapsed-menu-content .content-row a {
    margin-bottom: 10px;
    font-size: 13px;
    line-height: 18px;
    text-align: left;
    color: #262626;
    text-decoration: unset;
}
.collapsed-menu .collapsed-menu-content .content-row a :link {
    text-decoration: unset;
}
.collapsed-menu .collapsed-menu-content .content-row a :hover {
    text-decoration: unset;
}
.collapsed-menu .collapsed-menu-content .collapsed-menu-right-image {
    position: relative;
    text-align: center;
    padding-right: 1%;
}
.collapsed-menu .collapsed-menu-content .collapsed-menu-right-image img {
    height: 191px;
    width: 144px;
}
.collapsed-menu .collapsed-menu-content .collapsed-menu-right-image p {
    position: absolute;
    top: 50%;
    left: 47%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-transform: uppercase;
    font-weight: 900;
}


/*HEADER*/
.breadcrumb{
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
    padding-top: 80px;
    color: rgba(0,0,0,0.58);
    font-size: 14px;
    font-weight: bold;
    line-height: 17px;
}
.custom-header-container{
    display: flex;
    justify-content: flex-end;
    padding-left: 140px;
    align-items: center;
    padding: 35px 0;
}

.custom-header-container .header-titles{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 5%;
}

.custom-header-container .header-titles .header-title{
    font-size: 60px;
    margin: 0 0 45px 0;
    line-height: 75px;
    font-weight: 900;
}

.custom-header-container .header-titles .header-btn {
    height: 62.25px;
    width: 360px;
    border-radius: 2.2px;
    background-color: #2D8B95;
    box-shadow: 0 20px 25px -17px rgba(10,105,112,0.36);
    cursor: pointer;
    transition: all ease 0.3s;
    display: flex;
    color: #ffffff;
    justify-content: center;
    align-self: center;
    line-height: 27px;
    letter-spacing: 0.55px;
    font-weight: 700;
    font-size: 22px;
}

.custom-header-container .header-titles .header-btn:hover {
    box-shadow: 0 20px 25px 3px rgba(10,105,112,0.36);
}

.custom-header-container .header-titles .header-htag {
    color: #000000;
    font-size: 25px;
    font-weight: 300;
    line-height: 75px;
    /* text-shadow: 0 2px 20px rgba(0,0,0,0.5); */
}

.custom-header-container .header-img{
    height: auto;
    width: 55%;
    overflow: hidden;
}
.custom-header-container .header-img img{
    width: 100%;
    height: 362px;
    object-fit: cover;
}


/*items*/
.body-container{
    /* width: 80%; */
    display: flex;
    justify-content: center;
    padding: 0 10%;
    background-color: white;
}

.body-container .body-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.body-container .body-content .body-tags{
    display: flex;
    justify-content: space-between;
    padding: 60px 0;
}
.body-container .body-content .body-tags .tags-btn{
    border: 3px solid black;
    font-size: 22.44px;
    line-height: 27px;
    background-color: transparent;
    letter-spacing: 0.56px;
    height: 60px;
    cursor: pointer;
    width: 200px;
    margin: 0 10px;
    transition: all 0.3s ease;
    outline: none !important;
    font-weight: 600;
    padding: unset;
}
.body-container .body-content .body-tags .tags-btn:hover{
    border: 3px solid #2D8B95;
    color: #2D8B95;
}


.items-container{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.items-container .items-content{
    width: 350px;
    height: auto;
    flex-direction: column;
    display: flex;
    padding-bottom: 70px;
}
.items-container .items-content .item-title{
    font-size: 23px;
    text-transform: uppercase;
    font-weight: 300;
    margin: 30px 0 0 0;
    transition: all ease 0.3s;
}

.items-container .items-content .item-city{
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 300;
    transition: all ease 0.3s;
    margin: unset;
}

.items-container .items-content .item-img{
    width: auto;
    height: 350px;
    object-fit: cover;
    cursor: pointer;
    transition: all 0.3s ease;
}

.items-container .items-content .item-hover-content{
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 350px;
    flex-direction: column;
    background-color: rgba(0,0,0,0.2);
    opacity: 0;
    display: none;
    transition: all 0.3s ease;
    cursor: pointer;
}
.items-container .items-content .item-hover-content:hover{
    opacity: 1;
}
.items-container .items-content .item-hover-content .item-hover-content-title{
    font-weight: 900;
    color: white;
    font-size: 20px;
    padding: 10px 0;
    align-self: flex-start;
    margin-left: 20%;
    text-shadow: 0 2px 10px rgba(0,0,0,0.7);
}
.items-container .items-content .item-hover-content .item-hover-content-value{
    font-weight: 400;
}
 .items-container .items-content .item-hover-content .item-hover-content-btn{
     color: #ffffff;
     border: 3px solid #FFFFFF;
     background-color: transparent;
     height: 53.16px;
     width: 220px;
     font-size: 20px;
     margin-top: 50px;
     cursor: pointer;
 }
.items-container .items-content .item-hover-content .item-hover-content-btn a{
    color: #ffffff;
    text-decoration: blink;
}
.items-container .items-content .item-hover-content .item-hover-content-btn i{
    margin-left: 10px;
    padding-top: 0px;
}

/*ITEM CONTAINER*/

.item-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.item-container .item-header {
    display: flex;
    padding: 100px 0;
    width: 80%;
    justify-content: center;
    align-items: center;
}
.item-container .item-header .item-introduction {
    padding: 0 80px;
    border-right: 3px solid #2D8B95;
    width: 50%;
    height: 250px;
}
.item-container .item-header .item-introduction .introduction-title {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 24px;
}
.item-container .item-header .item-introduction .introduction-text {
    text-align: justify;
    font-size: 20px;
}
.item-container .item-header .item-identity {
    display: block;
    padding-left: 80px;
    width: 50%;
    height: 250px;
}
.item-container .item-header .item-identity .identity-list-title {
    font-weight: 900;
    font-size: 24px;
    text-transform: uppercase;
}
.item-container .item-header .item-identity .identity-list {
    padding: unset;
    list-style-type: none;
    font-size: 20px;
}
.item-container .item-header .item-identity .identity-list .identity-list-item {
    padding: 5px 0;
}
.item-container .item-content {
    width: 80%;
}
.item-container .item-content .item-primary-images, .item-container .item-content .item-secondary-images {
    display: flex;
    justify-content: space-between;
}
.item-container .item-content .item-secondary-images {
    padding-bottom: 115px;
}
.item-container .item-content .item-primary-images img, .item-container .item-content .item-secondary-images img {
    width: 500px;
    height: 684px;
    object-fit: cover;
}
.item-container .item-content .item-paragraph {
    padding: 100px 10px 35px 10px;
}
.item-container .item-content .item-paragraph .paragraph-title {
    font-size: 24px;
    font-weight: 900;
    text-transform: uppercase;
}
.item-container .item-content .item-paragraph .paragraph-text {
    font-size: 24px;
}
.item-container .item-content .item-main-image {
    width: 100%;
    height: 684px;
    overflow: hidden;
    margin: 65px 0;
}
.item-container .item-content .item-main-image img {
    object-fit: cover;
    height: 684px;
    width: 100%;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
    position: relative;
    margin: unset;
    padding-bottom: 140px;
}

/* Hide the images by default */
.mySlides {
    display: flexone;
}
.mySlides img {
    width: 350px;
    height: 350px;
    object-fit: cover;
    padding: 10px;
    flex-wrap: wrap;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 43%;
    width: auto;
    color: black;
    font-weight: bold;
    font-size: 48px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}



/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}



/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    /* display: flex!important; */
    /* justify-content: space-between; */
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

.slideshow-title{
    text-transform: uppercase;
    text-align: center;
    font-size: 24px;
    font-weight: 900;
    line-height: 28px;
    padding-bottom: 80px;
}

.more-projects-container{
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
}

.more-projects-title{
    text-align: center;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 900;
    line-height: 28px;
    padding-bottom: 80px;
}


/*HOMEPAGE*/
.homepage-header-container {
    height: 760px;
    /* padding-top: 70px; */
}
.homepage-header-container .background {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: -10;
}
@media screen and (min-width: 800px) {
    .homepage-header-container .background {
        height: unset;
    }
}
.homepage-header-container .header-content {
    padding: 40px 40px 0 40px;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.homepage-header-container .header-content .tag, .homepage-header-container .header-content .subtitle, .homepage-header-container .header-content .title {
    color: #fff;
}
.homepage-header-container .header-content .tag {
    font-size: 20px;
    margin-bottom: 25px;
}
.homepage-header-container .header-content .down-arrow {
    color: #fff;
    align-self: center;
    justify-self: center;
    padding: 40px;
}
.homepage-header-container .header-content .bounce {
    animation: bounce 3s infinite;
}
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-20px);
    }
    60% {
        transform: translateY(-10px);
    }
}
.homepage-header-container .header-content .title {
    font-size: 40px;
    font-weight: 900;
    line-height: 45px;
    text-shadow: 0 2px 20px rgba(0, 0, 0, 0.5);
    margin: 10px 0 30px 0;
}
.homepage-header-container .header-content .quotation-btn {
    height: 55px;
    width: 231px;
    border-radius: 2.2px;
    background-color: #2d8b95;
    box-shadow: 0 24px 30px -11px rgba(10, 105, 112, 0.36);
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
    align-self: center;
}
.homepage-header-container .header-content .quotation-btn .quotation-btn-content {
    color: #fff;
    font-size: 18px;
    font-weight: 900;
    letter-spacing: 0.55px;
    line-height: 22px;
    text-shadow: 0 2px 17px 0 rgba(0, 0, 0, 0.09);
    margin-bottom: 2px;
    margin-top: unset;
}
.homepage-header-container .header-content .tv-talk {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.homepage-header-container .header-content .tv-talk .tv-talk-title {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2.31px;
    line-height: 26px;
    text-align: center;
}
.homepage-header-container .header-content .tv-talk .tv-talk-logos {
    display: flex;
    justify-content: center;
    align-items: center;
}
.homepage-header-container .header-content .tv-talk .tv-talk-logos img {
    height: 90px;
}
.homepage-body-container {
    background-color: #ffffff;
}
.homepage-body-container .line {
    border: 1px solid #050505;
    margin: 10% auto 50px auto;
    width: 80px;
}
.homepage-body-container .left-line {
    border: 1px solid #050505;
    margin: 10% 0 50px 20%;
    width: 88px;
    align-self: flex-start;
}
.homepage-body-container .why-trust {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.homepage-body-container .why-trust .title {
    padding-top: 70px;
}

.homepage-body-container .why-trust .why-trust-content {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.homepage-body-container .why-trust .why-trust-content .trust-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.homepage-body-container .why-trust .why-trust-content .trust-group img {
    height: 100px;
}
.homepage-body-container .why-trust .why-trust-content .trust-group a {
    height: 36px;
    width: 174px;
    font-size: 15.4px;
    font-weight: 600;
    letter-spacing: 1.97px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: unset;
    padding-bottom: 75px;
}
.homepage-body-container .why-trust .why-trust-content .trust-group .blue {
    color: #2d8b95;
}
.homepage-body-container .why-trust .why-trust-content .trust-group .orange {
    color: #f2a500;
}
.homepage-body-container .why-trust .why-trust-content .trust-group .trust-title {
    font-size: 22.44px;
    font-weight: 900;
    letter-spacing: 0.56px;
    line-height: 27px;
    text-align: center;
    width: 147px;
    padding-bottom: 40px;
    margin-bottom: unset;
}
.homepage-body-container .intervention-zone {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.homepage-body-container .intervention-zone .intervention-zone-item {
    position: relative;
    text-align: center;
    padding-right: 1%;
    padding-bottom: 30px;
}
.homepage-body-container .intervention-zone .intervention-zone-item .filter {
    height: 315px;
    width: 315px;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.3;
}
.homepage-body-container .intervention-zone .intervention-zone-item img {
    height: 315px;
    width: 315px;
}
.homepage-body-container .intervention-zone .intervention-zone-item .item-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-weight: 900;
}
.homepage-body-container .intervention-zone .intervention-zone-item .item-title {
    text-transform: uppercase;
    font-size: 40px;
    margin: unset;
}
.homepage-body-container .intervention-zone .intervention-zone-item .item-desc {
    font-size: 22px;
}
.homepage-body-container .soon-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}
.homepage-body-container .soon-container .soon-item {
    text-transform: capitalize;
    color: #2d8b95;
    font-size: 25px;
    border: 4px #2d8b95 solid;
    border-radius: 100%;
    width: 130px;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    letter-spacing: 0.5px;
    margin: 15px;
    padding: 15px;
}
.homepage-body-container .renovation-container {
    padding-top: 50px;
    flex-direction: column;
}
.homepage-body-container .renovation-container .renovation-item {
    text-align: center;
    padding-right: 1%;
    padding-bottom: 30px;
}
.homepage-body-container .renovation-container .renovation-item .item-image {
    position: relative;
}
.homepage-body-container .renovation-container .renovation-item .item-image .filter {
    height: 315px;
    width: 315px;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.3;
}
.homepage-body-container .renovation-container .renovation-item .item-image img {
    height: 315px;
    width: 315px;
}
.homepage-body-container .renovation-container .renovation-item .item-image .item-desc {
    position: absolute;
    top: 50%;
    width: 250px;
    height: 250px;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 20px;
    letter-spacing: 0.35px;
    line-height: 40px;
    text-align: left;
    text-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.7);
}
.homepage-body-container .renovation-container .renovation-item .item-image .item-desc button {
    font-size: 20px;
    margin-top: 60px;
    padding: 10px 20px;
    font-weight: 900;
    border: 3px solid #fff;
    background-color: transparent;
    color: #fff;
}
.homepage-body-container .renovation-container .renovation-item .item-image .item-desc button .right-arrow {
    padding: 0 20px;
    font-weight: 600;
}
.homepage-body-container .renovation-container .renovation-item .item-image .item-desc .desc-title {
    font-weight: 900;
}
.homepage-body-container .renovation-container .renovation-item .item-image .item-desc .desc-title span {
    font-weight: 600;
}
.homepage-body-container .renovation-container .renovation-item .item-title {
    font-family: Lato;
    font-size: 18px;
    font-weight: 900;
    letter-spacing: 0.4px;
    line-height: 22px;
    text-transform: capitalize;
    text-align: left;
}
.homepage-body-container .renovation-container .renovation-item .item-title .project-name {
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: unset;
}
.homepage-body-container .renovation-container .renovation-item .item-title .project-city {
    margin-top: 10px;
    margin-bottom: 50px;
}

.homepage-body-container .buttons-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 70px;
}

.homepage-body-container .buttons-container .ask-quotation, .homepage-body-container .buttons-container .see-projects {
    height: 56px;
    width: 270px;
    text-align: center;
    text-shadow: 0 2px 17px rgba(0,0,0,0.09);
    font-size: 18px;
    font-weight: 900;
    line-height: 22px;
    letter-spacing: 0.55px;
    transition: all ease 0.3s;
    cursor: pointer;
    border-radius: 1px;
    margin: 20px;
}
.homepage-body-container .buttons-container .ask-quotation{
    background-color: #2d8b95;
    color: #ffffff;
    border: solid 2px #2d8b95;
}
.homepage-body-container .buttons-container .see-projects{
    background-color: #ffffff;
    color: #2d8b95;
    border: solid 2px #2d8b95;
}

.satisfaction-container{
    background: linear-gradient(180deg, rgba(255,255,255,0.11) 0%, rgba(121,169,174,0.16) 50.69%, rgba(255,255,255,0.11) 100%);
}

.satisfaction-container .satisfaction-img{
    width: 100%;
}

.satisfaction-container .satisfaction-text{
    font-style: italic;
    font-size: 16px;
    line-height: 24px;
    width: 70%;
    margin-bottom: 50px;
}

.satisfaction-container .see-quotations{
    width: 70%;
    text-shadow: 0 2px 17px 0 rgba(0,0,0,0.09);
    line-height: 22px;
    letter-spacing: 0.55px;
    font-weight: 900;
    font-size: 18px;
}
.satisfaction-container .satisfaction-buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 70px;
}
.satisfaction-container .satisfaction-buttons .trustpilot-btn, .satisfaction-container .satisfaction-buttons .google-btn{
    height: 60px;
    width: 152px;
    text-align: center;
    text-shadow: 0 2px 17px rgba(0,0,0,0.09);
    font-size: 18px;
    font-weight: 900;
    line-height: 22px;
    letter-spacing: 0.55px;
    transition: all ease 0.3s;
    cursor: pointer;
    border-radius: 1px;
    margin: 20px;
    color: #ffffff;
}
.satisfaction-container .satisfaction-buttons .trustpilot-btn i, .satisfaction-container .satisfaction-buttons .google-btn i{
    margin-right: 10px;
}
.satisfaction-container .satisfaction-buttons .trustpilot-btn{
    background-color: #FFBC47;
    border: solid 2px #FFBC47;

}

.satisfaction-container .satisfaction-buttons .google-btn{
    background-color: #2D8B95;
    border: solid 2px #2d8b95;

}
.hometour-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hometour-container .hometour-video iframe, .hometour-container .hometour-video{
    width: 100%;
}
.hometour-container .hometour-video-title-container{
    height: 215px;
    padding: 10px 25px;
    margin-top: -50px;
    z-index: 1;
    width: 80%;
    border-radius: 2.85px;
    background-color: #FFFFFF;
    margin-bottom: 100px;
    box-shadow: 1px 2px 9px 0 rgba(193,193,193,0.5);
}
.hometour-container .hometour-video-title-container h2{
    font-size: 28px;
    letter-spacing: 0.68px;
    line-height: 34px;
    margin: unset;
    text-shadow: 0 2px 16px 0 rgba(0,0,0,0.09);
}
.hometour-container .hometour-video-title-container p{
    width: 100px;
    color: #1E939D;
    font-size: 18px;
    letter-spacing: 0.97px;
    line-height: 21px;
    font-weight: 300;
}

.hometour-container .hometour-text {
    width: 60%;
    font-size: 17px;
    font-weight: 600;
    line-height: 24px;
    padding-bottom: 30px;
}
.hometour-container .all-projects-link {
    color: #2D8B95;
    font-weight: 600;
    width: 60%;
    padding-right: 10%;
    line-height: 19px;
    letter-spacing: 0.55px;
    text-shadow: 0 2px 17px rgba(0,0,0,0.09);
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 50px;
}
.hometour-container .all-projects-link i {
    margin-right: 10px;
}


/*DSK FORMAT*/
@media screen and (min-width: 800px) {
    .section-title{
        width: unset;
        font-size: 40px;
        line-height: 48px;
        font-weight: 900;
        text-align: center;
        margin: auto;
    }
    .homepage-header-container {
        height: 760px;
        /* padding-top: 70px; */
    }
    .homepage-header-container .background {
        height: unset;

    }
    .homepage-header-container .header-content {
        padding: 40px 40px 0 40px;
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    .homepage-header-container .header-content .tag, .homepage-header-container .header-content .subtitle, .homepage-header-container .header-content .title {
        color: #fff;
    }
    .homepage-header-container .header-content .tag {
        font-size: 20px;
        margin-bottom: 25px;
    }
    .homepage-header-container .header-content .down-arrow {
        color: #fff;
        align-self: center;
        justify-self: center;
        padding: 40px;
    }
    .homepage-header-container .header-content .bounce {
        animation: bounce 3s infinite;
    }
    @keyframes bounce {
        0%, 20%, 50%, 80%, 100% {
            transform: translateY(0);
        }
        40% {
            transform: translateY(-20px);
        }
        60% {
            transform: translateY(-10px);
        }
    }
    .homepage-header-container .header-content .title {
        font-size: 40px;
        font-weight: 900;
        line-height: 45px;
        text-shadow: 0 2px 20px rgba(0, 0, 0, 0.5);
        margin: 10px 0 30px 0;
    }
    .homepage-header-container .header-content .quotation-btn {
        height: 55px;
        width: 231px;
        border-radius: 2.2px;
        background-color: #2d8b95;
        box-shadow: 0 24px 30px -11px rgba(10, 105, 112, 0.36);
        display: flex;
        justify-content: center;
        align-items: center;
        justify-self: center;
        align-self: center;
    }
    .homepage-header-container .header-content .quotation-btn .quotation-btn-content {
        color: #fff;
        font-size: 18px;
        font-weight: 900;
        letter-spacing: 0.55px;
        line-height: 22px;
        text-shadow: 0 2px 17px 0 rgba(0, 0, 0, 0.09);
        margin-bottom: 2px;
        margin-top: unset;
    }
    .homepage-header-container .header-content .tv-talk {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .homepage-header-container .header-content .tv-talk .tv-talk-title {
        color: #fff;
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 2.31px;
        line-height: 26px;
        text-align: center;
    }
    .homepage-header-container .header-content .tv-talk .tv-talk-logos {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .homepage-header-container .header-content .tv-talk .tv-talk-logos img {
        height: 90px;
    }
    .homepage-body-container {
        background-color: #ffffff;
    }
    .homepage-body-container .line {
        margin: 50px auto 50px auto;
        width: 120px;
    }
    .homepage-body-container .left-line {
        border: 1px solid #050505;
        margin: 10% 0 50px 20%;
        width: 88px;
        align-self: flex-start;
    }
    .homepage-body-container .why-trust {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .homepage-body-container .why-trust .title {
        padding-top: 100px;
    }

    .homepage-body-container .why-trust .why-trust-content {
        justify-content: space-evenly;
        flex-direction: row;
        width: 100%;
    }
    .homepage-body-container .why-trust .why-trust-content .trust-group {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .homepage-body-container .why-trust .why-trust-content .trust-group img {
        height: 100px;
    }
    .homepage-body-container .why-trust .why-trust-content .trust-group a {
        height: 36px;
        width: 174px;
        font-size: 15.4px;
        font-weight: 600;
        letter-spacing: 1.97px;
        line-height: 18px;
        text-align: center;
        text-transform: uppercase;
        text-decoration: unset;
        padding-bottom: 75px;
    }
    .homepage-body-container .why-trust .why-trust-content .trust-group .blue {
        color: #2d8b95;
    }
    .homepage-body-container .why-trust .why-trust-content .trust-group .orange {
        color: #f2a500;
    }
    .homepage-body-container .why-trust .why-trust-content .trust-group .trust-title {
        width: 215px;
        padding-bottom: 70px;
    }
    .homepage-body-container .intervention-zone {
    padding-top: 100px;
    }
    .homepage-body-container .intervention-zone .intervention-zone-item {
        position: relative;
        text-align: center;
        padding-right: 1%;
        padding-bottom: 30px;
    }
    .homepage-body-container .intervention-zone .intervention-zone-item .filter {
        height: 315px;
        width: 315px;
        background-color: black;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0.3;
    }
    .homepage-body-container .intervention-zone .intervention-zone-item img {
        height: 315px;
        width: 315px;
    }
    .homepage-body-container .intervention-zone .intervention-zone-item .item-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
        font-weight: 900;
    }
    .homepage-body-container .intervention-zone .intervention-zone-item .item-title {
        text-transform: uppercase;
        font-size: 40px;
        margin: unset;
    }
    .homepage-body-container .intervention-zone .intervention-zone-item .item-desc {
        font-size: 22px;
    }
    .homepage-body-container .soon-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding-top: 30px;
    }
    .homepage-body-container .soon-container .soon-item {
        text-transform: capitalize;
        color: #2d8b95;
        font-size: 25px;
        border: 4px #2d8b95 solid;
        border-radius: 100%;
        width: 130px;
        height: 130px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 900;
        letter-spacing: 0.5px;
        margin: 15px;
        padding: 15px;
    }
    .homepage-body-container .renovation-container {
        padding-top: 50px;
        flex-direction: column;
    }
    .homepage-body-container .renovation-container .renovation-item {
        text-align: center;
        padding-right: 1%;
        padding-bottom: 30px;
    }
    .homepage-body-container .renovation-container .renovation-item .item-image {
        position: relative;
    }
    .homepage-body-container .renovation-container .renovation-item .item-image .filter {
        height: 315px;
        width: 315px;
        background-color: black;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0.3;
    }
    .homepage-body-container .renovation-container .renovation-item .item-image img {
        height: 315px;
        width: 315px;
    }
    .homepage-body-container .renovation-container .renovation-item .item-image .item-desc {
        position: absolute;
        top: 50%;
        width: 250px;
        height: 250px;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
        font-size: 20px;
        letter-spacing: 0.35px;
        line-height: 40px;
        text-align: left;
        text-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.7);
    }
    .homepage-body-container .renovation-container .renovation-item .item-image .item-desc button {
        font-size: 20px;
        margin-top: 60px;
        padding: 10px 20px;
        font-weight: 900;
        border: 3px solid #fff;
        background-color: transparent;
        color: #fff;
    }
    .homepage-body-container .renovation-container .renovation-item .item-image .item-desc button .right-arrow {
        padding: 0 20px;
        font-weight: 600;
    }
    .homepage-body-container .renovation-container .renovation-item .item-image .item-desc .desc-title {
        font-weight: 900;
    }
    .homepage-body-container .renovation-container .renovation-item .item-image .item-desc .desc-title span {
        font-weight: 600;
    }
    .homepage-body-container .renovation-container .renovation-item .item-title {
        font-family: Lato;
        font-size: 18px;
        font-weight: 900;
        letter-spacing: 0.4px;
        line-height: 22px;
        text-transform: capitalize;
        text-align: left;
    }
    .homepage-body-container .renovation-container .renovation-item .item-title .project-name {
        font-size: 30px;
        text-transform: uppercase;
        margin-bottom: unset;
    }
    .homepage-body-container .renovation-container .renovation-item .item-title .project-city {
        margin-top: 10px;
        margin-bottom: 50px;
    }

    .homepage-body-container .buttons-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding-bottom: 70px;
    }

    .homepage-body-container .buttons-container .ask-quotation, .homepage-body-container .buttons-container .see-projects {
        height: 56px;
        width: 270px;
        text-align: center;
        text-shadow: 0 2px 17px rgba(0,0,0,0.09);
        font-size: 18px;
        font-weight: 900;
        line-height: 22px;
        letter-spacing: 0.55px;
        transition: all ease 0.3s;
        cursor: pointer;
        border-radius: 1px;
        margin: 20px;
    }
    .homepage-body-container .buttons-container .ask-quotation{
        background-color: #2d8b95;
        color: #ffffff;
        border: solid 2px #2d8b95;
    }
    .homepage-body-container .buttons-container .see-projects{
        background-color: #ffffff;
        color: #2d8b95;
        border: solid 2px #2d8b95;
    }

    .satisfaction-container{
        background: linear-gradient(180deg, rgba(255,255,255,0.11) 0%, rgba(121,169,174,0.16) 50.69%, rgba(255,255,255,0.11) 100%);
    }

    .satisfaction-container .satisfaction-img{
        width: 100%;
    }

    .satisfaction-container .satisfaction-text{
        font-style: italic;
        font-size: 16px;
        line-height: 24px;
        width: 70%;
        margin-bottom: 50px;
    }

    .satisfaction-container .see-quotations{
        width: 70%;
        text-shadow: 0 2px 17px 0 rgba(0,0,0,0.09);
        line-height: 22px;
        letter-spacing: 0.55px;
        font-weight: 900;
        font-size: 18px;
    }
    .satisfaction-container .satisfaction-buttons{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding-bottom: 70px;
    }
    .satisfaction-container .satisfaction-buttons .trustpilot-btn, .satisfaction-container .satisfaction-buttons .google-btn{
        height: 60px;
        width: 152px;
        text-align: center;
        text-shadow: 0 2px 17px rgba(0,0,0,0.09);
        font-size: 18px;
        font-weight: 900;
        line-height: 22px;
        letter-spacing: 0.55px;
        transition: all ease 0.3s;
        cursor: pointer;
        border-radius: 1px;
        margin: 20px;
        color: #ffffff;
    }
    .satisfaction-container .satisfaction-buttons .trustpilot-btn i, .satisfaction-container .satisfaction-buttons .google-btn i{
        margin-right: 10px;
    }
    .satisfaction-container .satisfaction-buttons .trustpilot-btn{
        background-color: #FFBC47;
        border: solid 2px #FFBC47;

    }

    .satisfaction-container .satisfaction-buttons .google-btn{
        background-color: #2D8B95;
        border: solid 2px #2d8b95;

    }
    .hometour-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .hometour-container .hometour-video iframe, .hometour-container .hometour-video{
        width: 100%;
    }
    .hometour-container .hometour-video-title-container{
        height: 215px;
        padding: 10px 25px;
        margin-top: -50px;
        z-index: 1;
        width: 80%;
        border-radius: 2.85px;
        background-color: #FFFFFF;
        margin-bottom: 100px;
        box-shadow: 1px 2px 9px 0 rgba(193,193,193,0.5);
    }
    .hometour-container .hometour-video-title-container h2{
        font-size: 28px;
        letter-spacing: 0.68px;
        line-height: 34px;
        margin: unset;
        text-shadow: 0 2px 16px 0 rgba(0,0,0,0.09);
    }
    .hometour-container .hometour-video-title-container p{
        width: 100px;
        color: #1E939D;
        font-size: 18px;
        letter-spacing: 0.97px;
        line-height: 21px;
        font-weight: 300;
    }

    .hometour-container .hometour-text {
        width: 60%;
        font-size: 17px;
        font-weight: 600;
        line-height: 24px;
        padding-bottom: 30px;
    }
    .hometour-container .all-projects-link {
        color: #2D8B95;
        font-weight: 600;
        width: 60%;
        padding-right: 10%;
        line-height: 19px;
        letter-spacing: 0.55px;
        text-shadow: 0 2px 17px rgba(0,0,0,0.09);
        font-size: 16px;
        cursor: pointer;
        margin-bottom: 50px;
    }
    .hometour-container .all-projects-link i {
        margin-right: 10px;
    }
}


    /*FOOTER*/

.footer-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #2D8B95;
    color: white;
    padding: 5% 10% 3% 10%;
}

.footer-header{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.footer-header-logo{
    height: 44.65px;
    width: auto;
}
.footer-header-socials{
    display: flex;
}

.footer-header-socials img{
    width: 30px;
    height: 30px;
    padding: 0 10px;
    /* color: white; */
}
.footer-content{
    display: flex;
    width: 100%;
    padding: 30px 0;
    justify-content: space-between;
}

.footer-content-column{
    color: #ffffff;
}
.footer-content-centered-column{
    border-left: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
    padding: 0 5%;
}

.footer-content-column-title{
    text-transform: uppercase;
    margin-top: unset;
}
.footer-content-column-sectitle{
    padding-top: 15px;
}

.footer-content-column-links{
    margin-top: 20px;
    padding: unset;
    list-style: unset;
}

.footer-content-column-links ul{
     text-transform: capitalize;
 }

.footer-content-column-links li{
    text-transform: capitalize;
    display: block;
}

.footer-content-column-links a {
    font-size: 16px;
    color: white;
    text-decoration: blink;
    cursor: pointer;
    line-height: 25px;
}

.footer-contact{
    align-items: center;
    display: flex;
    padding: 30px 0;
}
.footer-contact-mail{
    font-weight: 600;
    font-size: 20px;
    margin-left: 60px;
}
.footer-contact-phone{
    font-weight: 600;
    font-size: 20px;
}

.footer-contact-phone span, .footer-contact-mail span{
    margin-left: 15px;
}

.footer-copyright{
    font-weight: 300;
    text-transform: uppercase;
    font-size: 18px;
}
