<!-- ↓↓↓ Bulle "pourquoi 97%..." ↓↓↓ -->
<div class="satisfaction-dialog-container">
    <img src="/images/template/Bulle97.svg" alt="dialog-box" />
    <p> Pourquoi 97% de nos clients sont satisfaits de leur travaux avec Little Worker ?</p>
</div>
<!-- ↑↑↑ Bulle "pourquoi 97%..." ↑↑↑ -->
<!-- ↓↓↓ 3 SVG Clé-Zéro-Protégé ↓↓↓ -->
<div class="satisfaction-container">
    <div class="satisfaction-content">
        <svg width="100%" height="100%" viewBox="0 0 121 71" version="1.1" xmlns="http://www.w3.org/2000/svg"
             xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve"
             style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:1.41421;">
        <g id="proprio">
            <g class="background">
                <path
                        d="M111.847,44.828L65.0469,33.1594C63.6902,32.8211 62.7089,31.6761 62.5236,30.2926C60.8598,17.8814 51.4561,7.22344 38.1834,4.75022C23.028,1.92548 7.97522,11.3082 3.82647,26.1296C-0.74768,42.4716 9.11222,59.2588 25.4922,63.3428C37.7997,66.4114 50.2227,61.4189 57.1816,51.715C57.9956,50.5798 59.4,50.0279 60.7575,50.3664L67.5068,52.0492C68.0915,52.195 68.7107,52.1028 69.2273,51.793L75.1835,48.2206C76.2594,47.5753 77.6565,47.9237 78.3035,48.9985L82.3707,55.7552L82.3715,55.7554L89.1354,51.6992C90.2113,51.0539 91.6084,51.4023 92.2554,52.4771L95.8373,58.4276C96.148,58.9437 96.6515,59.3158 97.2369,59.4617L107.557,62.0349C108.321,62.2254 109.132,62.0614 109.761,61.5884L116.202,56.7443C117.187,56.003 117.518,54.6748 116.997,53.5578L113.584,46.2569C113.25,45.5431 112.612,45.0186 111.847,44.828"
                        style="fill:rgb(242,165,0);" />
            </g>
            <g class="trace">
                <path
                        d="M34.3868,34.5891C33.1983,39.356 28.3647,42.2543 23.591,41.0641C18.8173,39.8739 15.9102,35.0456 17.0987,30.2787C18.287,25.5126 23.1208,22.6135 27.8945,23.8037C32.6682,24.9939 35.5751,29.823 34.3868,34.5891Z"
                        style="fill:none;stroke-width:2.4px;stroke:rgb(33,26,13);" />
                <path
                        d="M113.032,45.0598L62.7177,32.5149C62.0021,19.7284 53.075,8.34171 39.9783,5.07635C23.8821,1.06312 7.58553,10.8373 3.57873,26.9078C-0.428082,42.9782 9.37204,59.2599 25.4682,63.2731C38.5649,66.5385 51.7928,60.6757 58.4275,49.7218L68.3964,52.2073L77.1084,46.9821L82.3475,55.6857L82.3483,55.6859L91.0595,50.4605L96.2986,59.1641L108.742,62.2666L117.868,55.4034L113.032,45.0598Z"
                        style="fill:none;stroke-width:2.4px;stroke:rgb(33,26,13);" />
            </g>
        </g>
      </svg>
        <h1>
            Clé en main
        </h1>
        <p>On s’occupe de tout !</p>
    </div>

    <div class="satisfaction-content">
        <svg version="1.1" baseProfile="basic" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
             xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 120 126" xml:space="preserve">
        <g id="zero">
            <g class="clock" transform="translate(-10, -16)">
                <circle id="Oval" fill-rule="evenodd" clip-rule="evenodd" fill="#00AAB2" cx="66.1" cy="72" r="53.5" />
            </g>
            <g class="trace" transform="translate(-127.000000, -7438.000000)">
                <g id="Group-44" transform="translate(108.000000, 7440.000000)">
                    <g id="Group-62" transform="translate(21.239998, 0.000000)">
                        <path id="Stroke-1" fill="none" stroke="#000000" stroke-width="3.888" stroke-linecap="round"
                              stroke-linejoin="round" d="
				M106.6,53c0,29.3-23.7,53-53,53c-29.3,0-53-23.7-53-53c0-29.3,23.7-53,53-53C82.9,0,106.6,23.7,106.6,53" />
                        <path id="Stroke-2" fill="none" stroke="#000000" stroke-width="3.888" stroke-linecap="round"
                              stroke-linejoin="round" d="
				M53.1,53.5L75.5,68" />
                        <path id="Stroke-3" fill="none" stroke="#000000" stroke-width="3.888" stroke-linecap="round"
                              stroke-linejoin="round" d="
				M53.1,53.5l0.1-36.9" />
                    </g>
                </g>
            </g>
        </g>
      </svg>
        <h1>
            Zéro retard
        </h1>
        <p>C’est contractuel</p>
    </div>

    <div class="satisfaction-content">
        <svg version="1.1" baseProfile="basic" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
             xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 123 139" xml:space="preserve">
        <title>Group 63@2x</title>
            <g class="shield" transform="translate(-16, -7)">
                <path id="Fill-1" fill-rule="evenodd" clip-rule="evenodd" fill="#F2A500" d="M70.7,11.7l-52,23.1v34.4c0,31.9,22.2,61.6,52,68.9
            		c29.8-7.3,52-37,52-68.9V34.8L70.7,11.7z" />
            </g>
            <g class="trace">
                <path fill="none" stroke="#000000" stroke-width="3.888" d="M54.2,3l-52,23.1v34.4c0,31.9,22.2,61.6,52,68.9
            		c29.8-7.3,52-37,52-68.9V26.1L54.2,3z" />
                <polyline id="Path-2" fill="none" stroke="#000000" stroke-width="3.888"
                          points="25.5,63.1 44,81.5 76.9,48.7 	" />
            </g>
            <desc>Created with Sketch.</desc>
      </svg>
        <h1>
            Protégé
        </h1>
        <p>Par notre assurance globale</p>
    </div>
</div>
<!-- ↑↑↑ 3 SVG Clé-Zéro-Protégé ↑↑↑ -->
<div class="spacer-m"></div>

<!-- ↓↓↓ Génial ça m’intéresse ↓↓↓ -->
<div class="interested-container">
    <p class="title">Génial, ça m’interesse ! </p>
    <div class="interested-content">
        <a
                href="https://calendly.com/expert-travaux-little-worker/un-expert-travaux-me-rappel/?embed_domain=www.littleworker.fr&embed_type=PopupWidget&utm_term=1828149548.1553508731&utm_source=%2Frenovation-appartement-paris%2F">
            <div class="expert">
                <span class="phone"></span>
                <p>Parler avec un expert </p>
            </div>
        </a>
        <div class="estimation-content">
            <div class="estimation-btn">
                <div class="icon-euro">€</div>
                <a href="https://estimate.littleworker.fr/">Demander un devis</a>
            </div>

            <div class="comment-box">
                <ul>
                    <li>
                        Vous prend <span class="display-bold">2min</span>
                    </li>
                    <li>
                        Votre réponse en <span class="display-bold">2h</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- ↑↑↑ Génial ça m’intéresse ↑↑↑ -->
<div class="spacer-m"></div>
<!-- ↓↓↓ Découvrez nos autres services ↓↓↓ -->
<div class="see-also-container">
    <p class="title">Découvrez nos autres services</p>
    <div class="see-also-cards-container">
        <a href="https://www.littleworker.fr/architecte-interieur/">
            <div class="see-also-card" style="background: url('/images/template/seeAlsoOne/seeAlso1.jpg') no-repeat top left; background-size:
                    cover;">
                <div class="see-also-card-info-orange">
                    <p>Architecte d'intérieur </p>
                </div>
            </div>
        </a>
        <a href="https://www.littleworker.fr/renovation-maison-bordeaux/">
            <div class="see-also-card" style="background: url('/images/template/seeAlsoOne/seeAlso2.jpg') no-repeat top left; background-size:
                    cover;">
                <div class="see-also-card-info-orange">
                    <p>Rénovation Maison Bordeaux</p>
                </div>
            </div>
        </a><a href="https://www.littleworker.fr/renovation-appartement/">
            <div class="see-also-card" style="background: url('/images/template/seeAlsoOne/seeAlso3.jpg') no-repeat top left; background-size:
                    cover;">
                <div class="see-also-card-info-orange">
                    <p>Rénovation Appartement</p>
                </div>
            </div>
        </a>
        <div class="see-also-card">
            <div class="tempoPic">
                <p>Et aussi</p>
                <a href="https://www.littleworker.fr/renovation-appartement/">Rénovation Appartement</a>
                <br />
                <a href="https://www.littleworker.fr/a-propos/">Qui sommes-nous</a>
                <br />
                <a href="https://www.littleworker.fr/type/">Devis en ligne</a>
                <br />
                <a href="https://www.littleworker.fr/entreprise-batiment/">Entreprise Bâtiment</a>
                <br />

            </div>
            <div class="see-also-card-info-orange">
                <p>Découvrir</p>
            </div>
        </div>
    </div>
</div>
<!-- ↑↑↑ Découvrez nos autres services ↑↑↑ -->
<div class="spacer-m"></div>

<!-- ↓↓↓ Vidéo YouTube ↓↓↓ -->
<div class="youtube-container">
    <div class="video-title">
        <p>Découvrez Little Worker</p>
    </div>
    <div class="video-container">
        <iframe width="960" height="540" src="https://www.youtube.com/embed/06iVRoX83s4" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>
<!-- ↑↑↑ Vidéo YouTube ↑↑↑ -->

<div class="spacer-l"></div>

<!-- ↓↓↓ LW c'est aussi ↓↓↓ -->
<div class="see-also-container">
    <p class="title">Little Worker c'est aussi</p>
    <div class="see-also-cards-container">
        <a href="https://www.littleworker.fr/guides/">
            <div class="see-also-card" style="background: url('/images/template/seeAlsoTwo/seeAlso1.jpg') no-repeat top left; background-size:
                    cover;">
                <div class="see-also-card-info-blue">
                    <p>Des Guides </p>
                </div>
            </div>
        </a>
        <a href="https://www.littleworker.fr/architectes-interieur/">
            <div class="see-also-card" style="background: url('/images/template/seeAlsoTwo/seeAlso2.jpg') no-repeat top left; background-size:
                    cover;">
                <div class="see-also-card-info-blue">
                    <p>Des Architectes </p>
                </div>
            </div>
        </a>
        <a href="https://www.littleworker.fr/blog/">
            <div class="see-also-card" style="background: url('/images/template/seeAlsoTwo/seeAlso3.jpg') no-repeat top left; background-size:
                    cover;">
                <div class="see-also-card-info-blue">
                    <p>Des Articles</p>
                </div>
            </div>
        </a>

        <div class="see-also-card">
            <div class="tempoPic">
                <p>Et aussi</p>
                <a href="https://www.littleworker.fr/entreprise-renovation/">Des entrepreneurs</a>
                <br />
                <a href="https://www.littleworker.fr/blog/nos-coups-de-coeur-du-mois-3/">Des tendances</a>
                <br />
                <a href="https://www.littleworker.fr/blog/top-10-renovation-appartement-bordeaux/">De l'inspiration</a>
                <br />
                <a href="https://www.littleworker.fr/blog/7-plantes-purifier-lair/">De l'écologie</a>
                <br />
            </div>
            <div class="see-also-card-info-blue">
                <p>Call to action</p>
            </div>
        </div>
    </div>
</div>
<!-- ↑↑↑ LW c'est aussi ↑↑↑ -->
<div class="spacer-m"></div>
<!-- ↓↓↓ Blog + guide ↓↓↓ -->
<div class="blog-and-guide-container">
    <div class="left-side">
        <p class="title">
            En direct du blog
        </p>
        <div class="cards-container">
            <a href target="blank" = "https://www.littleworker.fr/blog/travaux-de-renovation-cachet-ancien/">
            <div class="card">
                <img src="/images/template/link1.jpg" class="card-picture"
                     alt='travaux de rénovation' />
                <div class="card-info">
                    <img src="/images/template/logo.png" alt="profile" class="card-info-picture" />
                    <div class="card-info-user">LittleWorker</div>
                </div>
                <div class="card-info-article">
                    Rénover un bien tout en gardant le cachet de l’ancien
                </div>
            </div>
            </a>
            <a href target="blank" = "https://www.littleworker.fr/blog/renovation-dappartement-agrandir-une-piece/">
            <div class="card">
                <img src="/images/template/link2.jpg" class="card-picture"
                     alt='travaux de rénovation' />
                <div class="card-info">
                    <img src="/images/template/logo.png" alt="profile" class="card-info-picture" />
                    <div class="card-info-user">LittleWorker</div>
                </div>
                <div class="card-info-article">
                    Rénovation d'appartement : 4 conseils pour agrandir une pièce
                </div>
            </div>
            </a>
        </div>
    </div>
    <div class="right-side">
        <h1 class="title">
            Découvrez nos guides
        </h1>
        <div class="guide-stack">
            <img src="/images/template/guide.jpg" alt=photo_guide />
            <div class="guide-title">
                <p>Aménager sa salle de bains</p>
            </div>
        </div>
        <div class="guide-button">
            <a href="https://www.littleworker.fr/guides/" target="blank">
                <p>Voir tous les guides</p>
            </a>
        </div>
    </div>
</div>
<div class="spacer-l"></div>

<!-- ↑↑↑ Blog + guide ↑↑↑ -->
