<div class="footer-container">
    <div class="footer-header">
        <img src="/images/lwlogowhite.png" alt="" class="footer-header-logo">
        <div class="footer-header-socials">
            <img src="/images/logos/facebook.png" alt="facebook">
            <img src="/images/logos/instagram.png" alt="facebook">
            <img src="/images/logos/linkedin.png" alt="facebook">
            <img src="/images/logos/pinterest.png" alt="facebook">
        </div>
    </div>
    <%if(!isMobile) {%>
    <div class="footer-content">
        <div class="footer-content-column">
            <h2 class="footer-content-column-title">Informations</h2>
            <ul class="footer-content-column-links">
                <li><a href="">À propos</a></li>
                <li><a href="">Mode d'emploi</a></li>
                <li><a href="">Notre accompagnement</a></li>
                <li><a href="">Conditions générales</a></li>
                <li><a href="">Mentions Légales du Site</a></li>
                <li><a href="">Espace presse</a></li>
                <li><a href="">Nous rejoindre</a></li>
                <li><a href="">Blog</a></li>
                <li><a href="">FAQ</a></li>
            </ul>
        </div>
        <div class="footer-content-column footer-content-centered-column">
            <h2 class="footer-content-column-title">Nos prestations</h2>
            <ul class="footer-content-column-links">
                <li><a href="">Rénovation Salle de Bain</a></li>
                <li><a href="">Rénovation Cuisine</a></li>
                <li><a href="">Rénovation Salon</a></li>
                <li><a href="">Rénovation Appartement</a></li>
                <li><a href="">Aménagement des Combles</a></li>
                <li><a href="">Travaux Sur Mesure</a></li>
            </ul>
            <h2 class="footer-content-column-title footer-content-column-sectitle">Guide pratique</h2>
            <ul class="footer-content-column-links">
                <li><a href="">Pourquoi éviter d'acheter ses fournitures ?</a></li>
                <li><a href="">Nos guides pratiques</a></li>
            </ul>
        </div>
        <div class="footer-content-column">
            <h2 class="footer-content-column-title">Travaux</h2>
            <ul class="footer-content-column-links">
                <li><a href="">Nos réalisations</a></li>
                <li><a href="">Sélection entreprises partenaires</a></li>
                <li><a href="">Exemple de devis travaux</a></li>
                <li><a href="">Architecte d'Intérieur</a></li>
                <li><a href="">Assurance Dommage Ouvrage</a></li>
                <li><a href="">Le Label Qualibat</a></li>
                <li><a href="">Assurance Décennale</a></li>
            </ul>
        </div>
    </div>
    <%}%>
    <div class="footer-contact">
        <div class="footer-contact-phone">
            <i class="fas fa-phone"></i>
            <span>05 56 48 02 77</span>
        </div>
        <div class="footer-contact-mail">
            <i class="fas fa-envelope"></i>
            <span>contact@littleworker.fr</span>
        </div>
    </div>
    <div class="footer-copyright">
        SAS LITTLE WORKER © 2018. All Right Reserved
    </div>
</div>
