<link type="text/css" rel="stylesheet" href="/style.css"/>
<%- include partials/header/main_nav.ejs %>
<div class="body">
    <h1><%= lworker.name %></h1>
</div>

<%- include partials/footer/footer.ejs %>
